.l-authentification-form
  = form_for resource, url: admin_app.admin_session_path do |f|
    %ul.b-authentification-form-errors.list-group
      - flash.each do |error_type, msg|
        %li.list-group-item{ class: "form-error-type-#{error_type}" }= msg
    .form-group.input-group
      = f.label :email, class: 'input-group-addon' do
        %i.fa.fa-fw.fa-envelope
      = f.text_field :email, placeholder: resource.class.human_attribute_name(:email), class: 'form-control'

    .form-group.input-group
      = f.label :password, class: 'input-group-addon' do
        %i.fa.fa-fw.fa-lock
      = f.password_field :password, class: 'form-control'

    .form-group
      = f.submit class: 'btn btn-primary btn-block'
